<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eoblitas.videojuegosfinales">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoJuegosFinales"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RegistroActivity"
            android:exported="true" />
        <activity
            android:name=".DetalleActivity"
            android:exported="true" />
        <activity
            android:name=".ListadoLibrosActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEG3R3Zt3LB4QcFEDfxwMaeRSylL0TybY" />
    </application>

</manifest>